@font-face {
    font-family: Lato;
    src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap")
}

.App {
    text-align: center;
    font-family: Lato, sans-serif;
    position: relative;
    min-height: 100vh;
}

.black-navbar {
    background: #0f0f0f;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}

.login {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
}

.black-items, .black-items-or {
    display: inline;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 2px;

}
.black-items-or {
    color: #9B9B9B;
}

.white-navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    height: 80px;
}

.white-items {
    color: #9B9B9B;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: initial;
    padding: 6px;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: auto;
}

.gray-navbar {
    background: #ededed;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    font-size: 16px;
    margin: 0;
}

.grid-title {
    grid-column-start: 2;
    display: inline-grid;
    grid-template-rows: 100px 1fr;
    text-align: initial;
}
.title {
    height: 55px;
    width: 201px;
}

.title, .title-privacy {
    font-size: 46px;
    color: #252525;
}

.text, .text-privacy {
    font-size: 18px;
    color: #9B9B9B;
    overflow: hidden;
}

.left-item {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-right: auto;
}

.right-item-p {
    display: contents;
}

.right-item {
    color: #0f0f0f;
    text-decoration: none;
    display: flex;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: auto;

}

.about-us-items > li {
    display: inline;
}

.text {
    margin-right: 50px;
}

.auction_div {
    display: flex;
    align-items: center;
    color: #8367D8;
    font-size: 24px;
    grid-column-start: 2;
    grid-column-end: 2;
}


.social-media {
    color: #a3abb3;
    padding: 2px;
}

.main {
    display: grid;
    grid-template-rows: auto 30px 1fr;
}

.page {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}

.page-privacy {
    background: #FFFFFF;
    display: grid;
    text-align: left;
    margin: 0px 20%;
}

.pictures-right {
    grid-column-start: 3;
    display: grid;
    float: right;
    height: fit-content;
    grid-gap: 10px 20px;
    grid-template-rows:100px 1fr 1fr;
}

.grid-second-row {
    display: grid;
}

.grid-first-row {
    overflow: hidden;
    height: fit-content;
}

.grid-second-row {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.pic-bottom {
    overflow: hidden;
    width: 100%;
}

.auction-first-item {
    text-decoration: none;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    display: grid;
    grid-template-columns: auto auto;
    height: 190px;
}

.footer-first-headline, .footer-second-headline {
    font-family: Lato-Regular;
    color: #979797;
    font-size: 16px;
    height: 28px;
}

.footer-first-item, .footer-second-item {
    display: inline-grid;
    text-align: initial;
    padding: 3px;
}


.footer-second-items, .footer-first-items {
    margin-left: 10%;
}

.footer-first-items, .footer-second-items {
    display: inline-grid;
    margin: -10px;
}

.auction-first-item, .footer-second-item {
    color: #979797;
    font-size: 16px;
    padding: 10px;
}

.footer-second-item {
    text-decoration: none;
}

form {
    align-self: center;
    margin-inline: auto;
}
ul {
    list-style-type: none;
}
button, input {
    border: white;
    background: white;
}
.pic {
    width: 100%;
}
.search-form {
    border: 2px solid #D8D8D8;
    width: 90%;
    overflow: hidden;
    padding: 5px 0;
    min-width: 100px;
    grid-column-start: 3;
    grid-column-end:3;
}

.search-input {
    border: white;
    background: white;
    padding: 5px 0;
    width: 90%;
}

.search-button {
    border: white;
    background: white;
    padding: 5px 0;
    width: 10%;
}
.black-navbar-social-media{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: -10%;
}
.navbar-list {
    text-align: left;
}

.navbar-list > li {
    display: inline;
}

.text-align-right {
    text-align: right;
}

.navbar-block {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.footer-social-follow {
    text-align: right;
    margin-top: 10px;
    margin-left: 0%;
}

.light-font {
    font-weight: 100;
}

.bold-font {
    font-weight: 700;
}

p {
    margin: 20px 0;
}

h3 {
    color: black;
}

.container {
    padding-bottom: 190px;
}
